*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 9px 9px 0 0;
  padding: 1rem;
  text-transform: capitalize;
  font-family: "Moderat", Verdana, Geneva, Tahoma, sans-serif;
}

.custom-toolbar button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  transition: all 300ms;
}

.custom-toolbar button:hover {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  transform: scale(2.5);
  cursor: pointer;
}
.custom-toolbar-month {
  flex-grow: 1;
  text-align: center;
}


.calendar-container {
  border: 2px solid #000000; /* Change the border color and thickness as needed */
  border-radius: 9px 9px 0 0;
  width: 900px;
  font-family: "Moderat", Verdana, Geneva, Tahoma, sans-serif;
}
.rbc-date-cell {

  text-align: center;
  padding-top: 25px;
  border: none;
}

.rbc-header,
.rbc-row-bg {
  border: none;
}

.rbc-month-view .rbc-month-row + .rbc-month-row,
.rbc-month-view .rbc-row-bg + .rbc-row-bg {
  /* border-top: 1px solid black; */
/* border-left: 1px solid black; */
/* border-right: 1 px solid black; */
  border: none ;
}

.rbc-month-view .rbc-row-bg > .rbc-row-bg {
    border: none;
}

.rbc-month-view .rbc-month-row > .rbc-month-row{
    border: none;
}
/* Set the border color of table headers to black */
.rbc-header {
  /* border-bottom: 1px solid black;  */
  padding: 1rem;
  border-left:1px solid black ;
  border-right: 1px solid black ;
  margin: 0;
}
.rbc-month-row {
  border-top: 1px solid black;
}


.color-no-working, .color-working{
    width: 100px;
    height: 100px;
    background-color: #d2d2d2;
}

.color-working{
background-color: #e2fcd4;
}